@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #EBF3F5;
  font-family: "Noto Sans Bengali", sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* transitions.css */
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* @import "~bootstrap/scss/bootstrap"; */


.admin-sidebar-ul li a, .admin-sidebar-ul li button, .admin-sidebar-ul li div {
  @apply
  text-gray-300 
  hover:bg-green-900
  hover:text-white
  block
  p-2
  rounded-l-md
}

.admin-sidebar-ul li a.active {
  @apply
  bg-green-700
  rounded-l-md
}

.form-check-input:checked {
  @apply
  !border-green-700
  !bg-green-700
}

/* .form-check-input:not(:checked) {
  @apply
  !border-red-500
  !bg-red-500
  opacity-80
} */


@layer components {

  .table-responsive{
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .table-responsive td {
    white-space: normal; /* Allow text to wrap */
    word-break: break-word; /* Break long words to prevent overflow */
}
  
table th {
  @apply
  p-2
  transition-colors 
  border-y 
  !border-slate-200 
  !bg-gray-500 
  hover:!bg-slate-700
  font-sans 
  text-sm 
  font-normal 
  leading-none 
  !text-gray-100
}

table tr {
  @apply
  transition-colors 
  border-y 
  border-slate-200 
  bg-white
  hover:bg-slate-100
  text-slate-700
  font-sans 
  text-sm 
  font-normal 
  leading-none
}
table td {
  @apply
  p-2
  !text-slate-500
}

  /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-green-500 rounded-md text-white;
  }
    */
  /* label {
    @apply
    font-semibold text-xs text-gray-400
  } */

  /* input {
    @apply
    border rounded-lg px-3 py-2 mb-2 text-sm w-full outline-none dark:border-gray-500 dark:bg-gray-900
  } */

  .custom-active-class {
    @apply
    text-green-700
  }

  .custom-btn {
    @apply
    py-1
    px-5 
    outline-none
    border-none
  }
  
  .btn-rounded {
    @apply
    rounded-[50px]
  }

  .btn-xs {
    @apply
    !py-0
    px-4
  }

  .btn-success {
    @apply
    /* custom-btn */
    text-white
    border-green-600
    bg-green-600
    hover:bg-green-700
    hover:text-white
  }


  .btn-primary {
    @apply
    custom-btn
    text-white
    border
    border-blue-600
    /* bg-blue-600 */
    hover:bg-blue-700
    hover:text-white
  }

  .btn-black {
    @apply
    custom-btn
    text-white
    bg-slate-800
    hover:bg-slate-900
    hover:text-white
  }

  .btn-outline-black {
    @apply
    custom-btn
    text-black
    border-solid
    border-slate-900
    bg-transparent
    hover:bg-slate-900
    hover:text-white
  }

  /* .btn-close {
    @apply
    !text-white
    !bg-green-500
  } */
  .modal-content .modal-header {
    @apply
    !p-20
  }

  input.form-control {
    @apply
    !py-[2px]
    !px-[10px]
  }
  
  select {
    @apply
    !py-[2px]
    !px-[10px]
  }

  .page-item.active .page-link {
    @apply
    !text-white
    !bg-green-800
    !border !border-green-800
    z-10
  }

  .page-item .page-link {
    @apply
    !text-green-500
    !bg-green-500
  }

  .react-select-container {
    
  }
  .react-select-container > .react-select__control {

  }
  .react-select-container > .react-select__control > .react-select__value-container {

  }
  .react-select-container > .react-select__control > .react-select__indicators {

  }
 
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 8px;
}

/* Scrollbar Track */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 8px;
}

/* Vertical and Horizontal Scrollbar */
body::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
  background-color: #F5F5F5;
}

/* Scrollbar Thumb */
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: -webkit-gradient(linear,
                                     left bottom,
                                     left top,
                                     color-stop(0.44, rgb(122,153,217)),
                                     color-stop(0.72, rgb(73,125,189)),
                                     color-stop(0.86, rgb(28,58,148)));
}
