:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* transitions.css */
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* @import "~bootstrap/scss/bootstrap"; */


.admin-sidebar-ul li a, .admin-sidebar-ul li button, .admin-sidebar-ul li div {
  @apply
  text-gray-300 
  hover:bg-green-900
  hover:text-white
  block
  p-2
}

.admin-sidebar-ul li a.active {
  @apply
  bg-green-700
}

.form-check-input:checked {
  @apply
  !border-green-700
  !bg-green-700
}

/* .form-check-input:not(:checked) {
  @apply
  !border-red-500
  !bg-red-500
  opacity-80
} */


@layer components {
  
table th {
  @apply
  p-2
  transition-colors 
  border-y 
  !border-slate-200 
  !bg-gray-500 
  hover:!bg-slate-700
  font-sans 
  text-sm 
  font-normal 
  leading-none 
  !text-gray-100
}

table tr {
  @apply
  transition-colors 
  border-y 
  border-slate-200 
  bg-white
  hover:bg-slate-100
  text-slate-700
  font-sans 
  text-sm 
  font-normal 
  leading-none
}
table td {
  @apply
  p-2
}
  /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-green-500 rounded-md text-white;
  }
    */
  /* label {
    @apply
    font-semibold text-xs text-gray-400
  } */

  /* input {
    @apply
    border rounded-lg px-3 py-2 mb-2 text-sm w-full outline-none dark:border-gray-500 dark:bg-gray-900
  } */

  .custom-active-class {
    @apply
    text-green-700
  }

  .custom-btn {
    @apply
    py-1
    px-5 
    outline-none
    border-none
  }
  
  .btn-rounded {
    @apply
    rounded-[50px]
  }

  .btn-xs {
    @apply
    !py-0
    px-4
  }

  .btn-success {
    @apply
    custom-btn
    text-white
    border-green-600
    bg-green-600
    hover:bg-green-700
    hover:text-white
  }


  .btn-primary {
    @apply
    custom-btn
    text-white
    border
    border-blue-600
    /* bg-blue-600 */
    hover:bg-blue-700
    hover:text-white
  }

  .btn-black {
    @apply
    custom-btn
    text-white
    bg-slate-800
    hover:bg-slate-900
    hover:text-white
  }

  .btn-outline-black {
    @apply
    custom-btn
    text-black
    border-solid
    border-slate-900
    bg-transparent
    hover:bg-slate-900
    hover:text-white
  }

  /* .btn-close {
    @apply
    !text-white
    !bg-green-500
  } */
  .modal-content .modal-header {
    @apply
    !p-20
  }

  input {
    @apply
    !py-[2px]
    !px-[10px]
  }
 
}

